# Host port
APP_PORT=8080

# MySQL
MYSQL_ROOT_PASSWORD=SuperSecretRootPass123
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=wp_password_strong_456

# WordPress -> MySQL
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=wp_password_strong_456
WORDPRESS_DB_NAME=wordpress

# WordPress -> Redis
REDIS_PASSWORD=redis_secure_pass_789
WORDPRESS_REDIS_HOST=redis
WORDPRESS_REDIS_PASSWORD=redis_secure_pass_789

